mixin m-air(air)
    .l-air__card-grid
        .l-air__card-item
            .l-air__card-country
                .l-air__country-img(style="background-image: url("+air.photo+")")
                .l-air__country-title= air.city
                    .l-air__country-title-img(style="background-image:url(../../public_html/img/figure.svg)")

            .l-air__card-meta-grid
                .l-air__card-meta-item
                    .l-air__card-meta-title= air.metaTitleOne
                    .l-air__card-meta-description= air.metaValueOne

                .l-air__card-meta-item
                    .l-air__card-meta-title= air.metaTitleTwo
                    .l-air__card-meta-description= air.metaValueTwo

                .l-air__card-meta-item
                    .l-air__card-meta-title= air.metaTitleThree
                    .l-air__card-meta-description= air.metaValueThree

        .l-air__card-item.l-air__card-item--last
            .l-air__card-number
                .l-air__card-number-title(class= air.colorLabel)= air.number
                .l-air__card-number-index Air Quality Index
                a.c-button-card(href= air.url)
                    svg.c-button-card-ico(style='enable-background:new 0 0 139 139;' version='1.1' viewbox='0 0 139 139' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
                        style(type='text/css').
                            .st0{fill:none;stroke-width:6;stroke-miterlimit:10;}
                        line#XMLID_3_.st0(x1='26' x2='112.2' y1='69.5' y2='69.5')
                        line#XMLID_8_.st0(x1='94.2' x2='111.2' y1='82.2' y2='69.5')
                        line#XMLID_21_.st0(x1='111.2' x2='94.2' y1='69.5' y2='56.8')
                        rect#XMLID_23_(height='4.8' width='1.4' x='111.6' y='67.1')